# Data Science Tools and Ecosystem

## Author
Rayanne Liu

**Objectives:**

- List popular languages in data science.
- List commonly used libraries.
- List commonly used data science tools.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. matplotlib
2. pandas
3. ggplot

|Data Science Tools |
|--------|
| Anacondas |
| RStudio  |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [4]:
200/60

3.3333333333333335